<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="home.html" />
                <add value="game.html" />
                <add value="tool.html" />
            </files>
        </defaultDocument>
        <caching>
            <profiles>
                <remove extension=".jpg" />
                <add extension=".mp4" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".mp3" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
