<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <caching>
            <profiles>
                <remove extension=".jpg" />
                <add extension=".mp4" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".mp3" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
        <staticContent>
            <mimeMap fileExtension=".yxh" mimeType="text/plain" />
            <mimeMap fileExtension=".bat" mimeType="text/plain" />
        </staticContent>
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
