<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Size, Extension" />
        <caching>
            <profiles>
                <add extension=".html" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <defaultDocument>
            <files>
                <clear />
                <add value="home.html" />
                <add value="look.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
